// Example 
// This is a comment, do not include in final .env
// Copy to react-gbooks/src/server/.env  
// Replace values with the right values for your own environment
// To obtain API_KEY see https://developers.google.com/books/docs/v1/using 

API_ENDPOINT=https://www.googleapis.com/books/v1/volumes
API_KEY=secret_key_here
PORT=3020
